{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "class-methods-use-this": "off",
    "new-cap": ["error", { "properties": false }],
    "no-param-reassign": ["error", { "props": false }],
    "prettier/prettier": ["error"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", ""]
      }
    }
  }
}
